# Full Dataset Showing via Data Wrangler

### Choi Chan Woo (인하대학교 에너지자원환경연구실, Py_Renewable Team)

This Python Code made in 12/15 is for viewing full Dataset used for this project (Since CSV Limitations on Libreoffice and Excel)

In [1]:
import pandas as pd

In [5]:
df_Renewable_Generation = pd.read_csv('../Dataset/한국전력거래소_지역별 시간별 태양광 및 풍력 발전량_2024.csv', encoding='cp949')

In [8]:
df_climate_ASOS_2024_Full = pd.read_csv('../Dataset/OBS_ASOS_TIM_20251215090557.csv', encoding='cp949', low_memory=False)

In [9]:
df_Renewable_Generation.head()

         거래일자  거래시간   지역  연료원  전력거래량(MWh)
0  2024-01-01     1  강원도  태양광         0.0
1  2024-01-01     2  강원도  태양광         0.0
2  2024-01-01     3  강원도  태양광         0.0
3  2024-01-01     4  강원도  태양광         0.0
4  2024-01-01     5  강원도  태양광         0.0

In [10]:
df_climate_ASOS_2024_Full.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,90,속초,2024-01-01 00:00,1.5,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,1396.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN
1,90,속초,2024-01-01 01:00,1.2,NaN,NaN,9.0,1.2,NaN,290.0,...,6.0,939.0,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN
2,90,속초,2024-01-01 02:00,0.9,NaN,NaN,9.0,0.8,NaN,270.0,...,8.0,789.0,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN
3,90,속초,2024-01-01 03:00,1.1,NaN,0.4,NaN,1.3,NaN,290.0,...,8.0,1005.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN
4,90,속초,2024-01-01 04:00,1.2,NaN,NaN,9.0,1.4,NaN,290.0,...,9.0,1151.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN