# Full Dataset Showing via Data Wrangler

### Choi Chan Woo (인하대학교 에너지자원환경연구실, Py_Renewable Team)

This Python Code made in 12/15 is for viewing full Dataset used for this project (Since CSV Limitations on Libreoffice and Excel)

In [1]:
import pandas as pd

## Loading Dataset

In [5]:
df_Renewable_Generation = pd.read_csv('../Dataset/한국전력거래소_지역별 시간별 태양광 및 풍력 발전량_2024.csv', encoding='cp949')

In [8]:
df_climate_ASOS_2024_Full = pd.read_csv('../Dataset/OBS_ASOS_TIM_20251215090557.csv', encoding='cp949', low_memory=False)

## Full Dataset View by Data Wrangler

In [9]:
df_Renewable_Generation.head()

         거래일자  거래시간   지역  연료원  전력거래량(MWh)
0  2024-01-01     1  강원도  태양광         0.0
1  2024-01-01     2  강원도  태양광         0.0
2  2024-01-01     3  강원도  태양광         0.0
3  2024-01-01     4  강원도  태양광         0.0
4  2024-01-01     5  강원도  태양광         0.0

In [10]:
df_climate_ASOS_2024_Full.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,90,속초,2024-01-01 00:00,1.5,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,1396.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN
1,90,속초,2024-01-01 01:00,1.2,NaN,NaN,9.0,1.2,NaN,290.0,...,6.0,939.0,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN
2,90,속초,2024-01-01 02:00,0.9,NaN,NaN,9.0,0.8,NaN,270.0,...,8.0,789.0,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN
3,90,속초,2024-01-01 03:00,1.1,NaN,0.4,NaN,1.3,NaN,290.0,...,8.0,1005.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN
4,90,속초,2024-01-01 04:00,1.2,NaN,NaN,9.0,1.4,NaN,290.0,...,9.0,1151.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN

## Dataset Properties

In [15]:
# Showing Dataset properties
print("df_Renewable_Generation Info:")
df_Renewable_Generation.info()

df_Renewable_Generation Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166896 entries, 0 to 166895
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   거래일자        166896 non-null  object
 1   거래시간        166896 non-null  int64
 2   지역          166896 non-null  object
 3   연료원         166896 non-null  object
 4   전력거래량(MWh)  166896 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 6.4+ MB

In [16]:
print("df_climate_ASOS_2024_Full Info:")
df_climate_ASOS_2024_Full.info()

df_climate_ASOS_2024_Full Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852048 entries, 0 to 852047
Data columns (total 38 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   지점             852048 non-null  int64
 1   지점명            852048 non-null  object
 2   일시             852048 non-null  object
 3   기온(°C)         851103 non-null  float64
 4   기온 QC플래그       986 non-null     float64
 5   강수량(mm)        80511 non-null   float64
 6   강수량 QC플래그      162179 non-null  float64
 7   풍속(m/s)        849686 non-null  float64
 8   풍속 QC플래그       1340 non-null    float64
 9   풍향(16방위)       849677 non-null  float64
 10  풍향 QC플래그       1352 non-null    float64
 11  습도(%)          850818 non-null  float64
 12  습도 QC플래그       1275 non-null    float64
 13  증기압(hPa)       850635 non-null  float64
 14  이슬점온도(°C)      850632 non-null  float64
 15  현지기압(hPa)      851102 non-null  float64
 16  현지기압 QC플래그     996 non-null     float64
 17  해면기압(hPa)      850869 non-null  float64
 18  해면기압 QC플래그     1221 non-null    float64
 19  일조(hr)         462433 non-null  float64
 20  일조 QC플래그       388599 non-null  float64
 21  일사(MJ/m2)      282397 non-null  float64
 22  일사 QC플래그       568643 non-null  float64
 23  적설(cm)         20090 non-null   float64
 24  3시간신적설(cm)     705 non-null     float64
 25  전운량(10분위)      851236 non-null  float64
 26  중하층운량(10분위)    840106 non-null  float64
 27  운형(운형약어)       119707 non-null  object
 28  최저운고(100m )    427603 non-null  float64
 29  시정(10m)        843072 non-null  float64
 30  지면상태(지면상태코드)   0 non-null       float64
 31  현상번호(국내식)      50297 non-null   float64
 32  지면온도(°C)       849093 non-null  float64
 33  지면온도 QC플래그     7378 non-null    float64
 34  5cm 지중온도(°C)   253333 non-null  float64
 35  10cm 지중온도(°C)  253609 non-null  float64
 36  20cm 지중온도(°C)  253100 non-null  float64
 37  30cm 지중온도(°C)  253795 non-null  float64
dtypes: float64(34), int64(1), object(3)
memory usage: 247.0+ MB

## Showing Feature names

In [ ]:
df_climate_ASOS_2024_Full.columns.tolist()

['지점',
 '지점명',
 '일시',
 '기온(°C)',
 '기온 QC플래그',
 '강수량(mm)',
 '강수량 QC플래그',
 '풍속(m/s)',
 '풍속 QC플래그',
 '풍향(16방위)',
 '풍향 QC플래그',
 '습도(%)',
 '습도 QC플래그',
 '증기압(hPa)',
 '이슬점온도(°C)',
 '현지기압(hPa)',
 '현지기압 QC플래그',
 '해면기압(hPa)',
 '해면기압 QC플래그',
 '일조(hr)',
 '일조 QC플래그',
 '일사(MJ/m2)',
 '일사 QC플래그',
 '적설(cm)',
 '3시간신적설(cm)',
 '전운량(10분위)',
 '중하층운량(10분위)',
 '운형(운형약어)',
 '최저운고(100m )',
 '시정(10m)',
 '지면상태(지면상태코드)',
 '현상번호(국내식)',
 '지면온도(°C)',
 '지면온도 QC플래그',
 '5cm 지중온도(°C)',
 '10cm 지중온도(°C)',
 '20cm 지중온도(°C)',
 '30cm 지중온도(°C)']

In [12]:
df_Renewable_Generation.columns.tolist()

['거래일자', '거래시간', '지역', '연료원', '전력거래량(MWh)']

## NaN Value Checking

In [13]:
# NaN 값 확인
print("NaN values in df_Renewable_Generation:")
print(df_Renewable_Generation.isna().sum())

NaN values in df_Renewable_Generation:
거래일자          0
거래시간          0
지역            0
연료원           0
전력거래량(MWh)    0
dtype: int64

In [14]:
print("NaN values in df_climate_ASOS_2024_Full:")
print(df_climate_ASOS_2024_Full.isna().sum())

NaN values in df_climate_ASOS_2024_Full:
지점                    0
지점명                   0
일시                    0
기온(°C)              945
기온 QC플래그         851062
강수량(mm)          771537
강수량 QC플래그        689869
풍속(m/s)            2362
풍속 QC플래그         850708
풍향(16방위)           2371
풍향 QC플래그         850696
습도(%)              1230
습도 QC플래그         850773
증기압(hPa)           1413
이슬점온도(°C)          1416
현지기압(hPa)           946
현지기압 QC플래그       851052
해면기압(hPa)          1179
해면기압 QC플래그       850827
일조(hr)           389615
일조 QC플래그         463449
일사(MJ/m2)        569651
일사 QC플래그         283405
적설(cm)           831958
3시간신적설(cm)       851343
전운량(10분위)           812
중하층운량(10분위)       11942
운형(운형약어)         732341
최저운고(100m )      424445
시정(10m)            8976
지면상태(지면상태코드)     852048
현상번호(국내식)        801751
지면온도(°C)           2955
지면온도 QC플래그       844670
5cm 지중온도(°C)     598715
10cm 지중온도(°C)    598439
20cm 지중온도(°C)    598948
30cm 지중온도(°C)    598253
dtype: int64