# Full Dataset Showing via Data Wrangler

### Choi Chan Woo (인하대학교 에너지자원환경연구실, Py_Renewable Team)

This Python Code made in 12/15 is for viewing full Dataset used for this project (Since CSV Limitations on Libreoffice and Excel)

In [ ]:
import pandas as pd

## Loading Dataset

In [2]:
df_Renewable_Generation = pd.read_csv('../Dataset/Base/한국전력거래소_지역별 시간별 태양광 및 풍력 발전량_2024.csv', encoding='cp949')

In [3]:
df_climate_ASOS_2024_Full = pd.read_csv('../Dataset/Base/OBS_ASOS_TIM_20251215090557.csv', encoding='cp949', low_memory=False)

## Full Dataset View by Data Wrangler

In [4]:
df_Renewable_Generation.head()

         거래일자  거래시간   지역  연료원  전력거래량(MWh)
0  2024-01-01     1  강원도  태양광         0.0
1  2024-01-01     2  강원도  태양광         0.0
2  2024-01-01     3  강원도  태양광         0.0
3  2024-01-01     4  강원도  태양광         0.0
4  2024-01-01     5  강원도  태양광         0.0

In [5]:
df_climate_ASOS_2024_Full.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,90,속초,2024-01-01 00:00,1.5,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,1396.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN
1,90,속초,2024-01-01 01:00,1.2,NaN,NaN,9.0,1.2,NaN,290.0,...,6.0,939.0,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN
2,90,속초,2024-01-01 02:00,0.9,NaN,NaN,9.0,0.8,NaN,270.0,...,8.0,789.0,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN
3,90,속초,2024-01-01 03:00,1.1,NaN,0.4,NaN,1.3,NaN,290.0,...,8.0,1005.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN
4,90,속초,2024-01-01 04:00,1.2,NaN,NaN,9.0,1.4,NaN,290.0,...,9.0,1151.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN

## Dataset Properties

In [6]:
# Showing Dataset properties
print("df_Renewable_Generation Info:")
df_Renewable_Generation.info()

df_Renewable_Generation Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166896 entries, 0 to 166895
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   거래일자        166896 non-null  object
 1   거래시간        166896 non-null  int64
 2   지역          166896 non-null  object
 3   연료원         166896 non-null  object
 4   전력거래량(MWh)  166896 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 6.4+ MB

In [7]:
print("df_climate_ASOS_2024_Full Info:")
df_climate_ASOS_2024_Full.info()

df_climate_ASOS_2024_Full Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852048 entries, 0 to 852047
Data columns (total 38 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   지점             852048 non-null  int64
 1   지점명            852048 non-null  object
 2   일시             852048 non-null  object
 3   기온(°C)         851103 non-null  float64
 4   기온 QC플래그       986 non-null     float64
 5   강수량(mm)        80511 non-null   float64
 6   강수량 QC플래그      162179 non-null  float64
 7   풍속(m/s)        849686 non-null  float64
 8   풍속 QC플래그       1340 non-null    float64
 9   풍향(16방위)       849677 non-null  float64
 10  풍향 QC플래그       1352 non-null    float64
 11  습도(%)          850818 non-null  float64
 12  습도 QC플래그       1275 non-null    float64
 13  증기압(hPa)       850635 non-null  float64
 14  이슬점온도(°C)      850632 non-null  float64
 15  현지기압(hPa)      851102 non-null  float64
 16  현지기압 QC플래그     996 non-null     float64
 17  해면기압(hPa)      850869 non-null  float64
 18  해면기압 QC플래그     1221 non-null    float64
 19  일조(hr)         462433 non-null  float64
 20  일조 QC플래그       388599 non-null  float64
 21  일사(MJ/m2)      282397 non-null  float64
 22  일사 QC플래그       568643 non-null  float64
 23  적설(cm)         20090 non-null   float64
 24  3시간신적설(cm)     705 non-null     float64
 25  전운량(10분위)      851236 non-null  float64
 26  중하층운량(10분위)    840106 non-null  float64
 27  운형(운형약어)       119707 non-null  object
 28  최저운고(100m )    427603 non-null  float64
 29  시정(10m)        843072 non-null  float64
 30  지면상태(지면상태코드)   0 non-null       float64
 31  현상번호(국내식)      50297 non-null   float64
 32  지면온도(°C)       849093 non-null  float64
 33  지면온도 QC플래그     7378 non-null    float64
 34  5cm 지중온도(°C)   253333 non-null  float64
 35  10cm 지중온도(°C)  253609 non-null  float64
 36  20cm 지중온도(°C)  253100 non-null  float64
 37  30cm 지중온도(°C)  253795 non-null  float64
dtypes: float64(34), int64(1), object(3)
memory usage: 247.0+ MB

## Showing Feature names

In [8]:
df_climate_ASOS_2024_Full.columns.tolist()

['지점',
 '지점명',
 '일시',
 '기온(°C)',
 '기온 QC플래그',
 '강수량(mm)',
 '강수량 QC플래그',
 '풍속(m/s)',
 '풍속 QC플래그',
 '풍향(16방위)',
 '풍향 QC플래그',
 '습도(%)',
 '습도 QC플래그',
 '증기압(hPa)',
 '이슬점온도(°C)',
 '현지기압(hPa)',
 '현지기압 QC플래그',
 '해면기압(hPa)',
 '해면기압 QC플래그',
 '일조(hr)',
 '일조 QC플래그',
 '일사(MJ/m2)',
 '일사 QC플래그',
 '적설(cm)',
 '3시간신적설(cm)',
 '전운량(10분위)',
 '중하층운량(10분위)',
 '운형(운형약어)',
 '최저운고(100m )',
 '시정(10m)',
 '지면상태(지면상태코드)',
 '현상번호(국내식)',
 '지면온도(°C)',
 '지면온도 QC플래그',
 '5cm 지중온도(°C)',
 '10cm 지중온도(°C)',
 '20cm 지중온도(°C)',
 '30cm 지중온도(°C)']

In [9]:
df_Renewable_Generation.columns.tolist()

['거래일자', '거래시간', '지역', '연료원', '전력거래량(MWh)']

## NaN Value Checking

In [10]:
# NaN 값 확인
print("NaN values in df_Renewable_Generation:")
print(df_Renewable_Generation.isna().sum())

NaN values in df_Renewable_Generation:
거래일자          0
거래시간          0
지역            0
연료원           0
전력거래량(MWh)    0
dtype: int64

In [11]:
print("NaN values in df_climate_ASOS_2024_Full:")
print(df_climate_ASOS_2024_Full.isna().sum())

NaN values in df_climate_ASOS_2024_Full:
지점                    0
지점명                   0
일시                    0
기온(°C)              945
기온 QC플래그         851062
강수량(mm)          771537
강수량 QC플래그        689869
풍속(m/s)            2362
풍속 QC플래그         850708
풍향(16방위)           2371
풍향 QC플래그         850696
습도(%)              1230
습도 QC플래그         850773
증기압(hPa)           1413
이슬점온도(°C)          1416
현지기압(hPa)           946
현지기압 QC플래그       851052
해면기압(hPa)          1179
해면기압 QC플래그       850827
일조(hr)           389615
일조 QC플래그         463449
일사(MJ/m2)        569651
일사 QC플래그         283405
적설(cm)           831958
3시간신적설(cm)       851343
전운량(10분위)           812
중하층운량(10분위)       11942
운형(운형약어)         732341
최저운고(100m )      424445
시정(10m)            8976
지면상태(지면상태코드)     852048
현상번호(국내식)        801751
지면온도(°C)           2955
지면온도 QC플래그       844670
5cm 지중온도(°C)     598715
10cm 지중온도(°C)    598439
20cm 지중온도(°C)    598948
30cm 지중온도(°C)    598253
dtype: int64

In [12]:
# 지점 출력 및 지점-지점명 매핑
unique_stations = df_climate_ASOS_2024_Full['지점'].unique()
print("Unique Stations in df_climate_ASOS_2024_Full:")
for station in unique_stations:
    station_name = df_climate_ASOS_2024_Full[df_climate_ASOS_2024_Full['지점'] == station]['지점명'].iloc[0]
    print(f"Station Code: {station}, Station Name: {station_name}")

Unique Stations in df_climate_ASOS_2024_Full:
Station Code: 90, Station Name: 속초
Station Code: 93, Station Name: 북춘천
Station Code: 95, Station Name: 철원
Station Code: 98, Station Name: 동두천
Station Code: 99, Station Name: 파주
Station Code: 100, Station Name: 대관령
Station Code: 101, Station Name: 춘천
Station Code: 102, Station Name: 백령도
Station Code: 104, Station Name: 북강릉
Station Code: 105, Station Name: 강릉
Station Code: 106, Station Name: 동해
Station Code: 108, Station Name: 서울
Station Code: 112, Station Name: 인천
Station Code: 114, Station Name: 원주
Station Code: 115, Station Name: 울릉도
Station Code: 119, Station Name: 수원
Station Code: 121, Station Name: 영월
Station Code: 127, Station Name: 충주
Station Code: 129, Station Name: 서산
Station Code: 130, Station Name: 울진
Station Code: 131, Station Name: 청주
Station Code: 133, Station Name: 대전
Station Code: 135, Station Name: 추풍령
Station Code: 136, Station Name: 안동
Station Code: 137, Station Name: 상주
Station Code: 138, Station Name: 포항
Station Code: 140, Station Name: 군산
Station Code: 143, Station Name: 대구
Station Code: 146, Station Name: 전주
Station Code: 152, Station Name: 울산
Station Code: 155, Station Name: 창원
Station Code: 156, Station Name: 광주
Station Code: 159, Station Name: 부산
Station Code: 162, Station Name: 통영
Station Code: 165, Station Name: 목포
Station Code: 168, Station Name: 여수
Station Code: 169, Station Name: 흑산도
Station Code: 170, Station Name: 완도
Station Code: 172, Station Name: 고창
Station Code: 174, Station Name: 순천
Station Code: 177, Station Name: 홍성
Station Code: 181, Station Name: 서청주
Station Code: 184, Station Name: 제주
Station Code: 185, Station Name: 고산
Station Code: 188, Station Name: 성산
Station Code: 189, Station Name: 서귀포
Station Code: 192, Station Name: 진주
Station Code: 201, Station Name: 강화
Station Code: 202, Station Name: 양평
Station Code: 203, Station Name: 이천
Station Code: 211, Station Name: 인제
Station Code: 212, Station Name: 홍천
Station Code: 216, Station Name: 태백
Station Code: 217, Station Name: 정선군
Station Code: 221, Station Name: 제천
Station Code: 226, Station Name: 보은
Station Code: 232, Station Name: 천안
Station Code: 235, Station Name: 보령
Station Code: 236, Station Name: 부여
Station Code: 238, Station Name: 금산
Station Code: 239, Station Name: 세종
Station Code: 243, Station Name: 부안
Station Code: 244, Station Name: 임실
Station Code: 245, Station Name: 정읍
Station Code: 247, Station Name: 남원
Station Code: 248, Station Name: 장수
Station Code: 251, Station Name: 고창군
Station Code: 252, Station Name: 영광군
Station Code: 253, Station Name: 김해시
Station Code: 254, Station Name: 순창군
Station Code: 255, Station Name: 북창원
Station Code: 257, Station Name: 양산시
Station Code: 258, Station Name: 보성군
Station Code: 259, Station Name: 강진군
Station Code: 260, Station Name: 장흥
Station Code: 261, Station Name: 해남
Station Code: 262, Station Name: 고흥
Station Code: 263, Station Name: 의령군
Station Code: 264, Station Name: 함양군
Station Code: 266, Station Name: 광양시
Station Code: 268, Station Name: 진도군
Station Code: 271, Station Name: 봉화
Station Code: 272, Station Name: 영주
Station Code: 273, Station Name: 문경
Station Code: 276, Station Name: 청송군
Station Code: 277, Station Name: 영덕
Station Code: 278, Station Name: 의성
Station Code: 279, Station Name: 구미
Station Code: 281, Station Name: 영천
Station Code: 283, Station Name: 경주시
Station Code: 284, Station Name: 거창
Station Code: 285, Station Name: 합천
Station Code: 288, Station Name: 밀양
Station Code: 289, Station Name: 산청
Station Code: 294, Station Name: 거제
Station Code: 295, Station Name: 남해
Station Code: 296, Station Name: 북부산

In [13]:
# 신재생 에너지 발전량 지역 출력
unique_regions = df_Renewable_Generation['지역'].unique()
print("Unique Regions in df_Renewable_Generation:")
for region in unique_regions:
    print(f"Region: {region}")

Unique Regions in df_Renewable_Generation:
Region: 강원도
Region: 경기도
Region: 경상남도
Region: 경상북도
Region: 광주시
Region: 대구시
Region: 대전시
Region: 부산시
Region: 서울시
Region: 세종시
Region: 울산시
Region: 인천시
Region: 전라남도
Region: 전라북도
Region: 제주도
Region: 충청남도
Region: 충청북도
Region: 육지
Region: 제주

In [14]:
# 신재생 에너지 발전량 에서 특정 지역만 추출 (인천시, 제주)
df_Renewable_Generation_Target = df_Renewable_Generation[df_Renewable_Generation['지역'].isin(['인천시', '제주'])]
df_Renewable_Generation_Target.head()

           거래일자  거래시간   지역  연료원  전력거래량(MWh)
264  2024-01-01     1  인천시  태양광         0.0
265  2024-01-01     2  인천시  태양광         0.0
266  2024-01-01     3  인천시  태양광         0.0
267  2024-01-01     4  인천시  태양광         0.0
268  2024-01-01     5  인천시  태양광         0.0

In [15]:
df_Renewable_Generation_Target.to_csv('../Dataset/한국전력거래소_인천시_제주_태양광_풍력_발전량_2024.csv', index=False, encoding='cp949')

In [16]:
# 기후 데이터에서 102, 112, 201, 98, 99, 119, 202, 203, 184, 185, 188, 189 추출

df_climate_ASOS_2024_Selected = df_climate_ASOS_2024_Full[df_climate_ASOS_2024_Full['지점'].isin([102, 112, 201, 98, 99, 119, 202, 203, 184, 185, 188, 189])]
df_climate_ASOS_2024_Selected.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
26352,98,동두천,2024-01-01 00:00,-1.5,NaN,NaN,9.0,0.0,NaN,0.0,...,NaN,203.0,NaN,NaN,-0.2,NaN,NaN,NaN,NaN,NaN
26353,98,동두천,2024-01-01 01:00,-1.9,NaN,NaN,NaN,0.0,NaN,0.0,...,NaN,275.0,NaN,NaN,-0.3,NaN,NaN,NaN,NaN,NaN
26354,98,동두천,2024-01-01 02:00,-2.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,276.0,NaN,NaN,-0.3,NaN,NaN,NaN,NaN,NaN
26355,98,동두천,2024-01-01 03:00,-2.7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,120.0,NaN,NaN,-0.4,NaN,NaN,NaN,NaN,NaN
26356,98,동두천,2024-01-01 04:00,-2.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,184.0,NaN,NaN,-0.3,NaN,NaN,NaN,NaN,NaN

In [17]:
df_climate_ASOS_2024_Selected.to_csv('../Dataset/기후데이터_인천시_제주_2024.csv', index=False, encoding='cp949')

In [18]:
# delete off QC flags in df_climate_ASOS_2024_Selected
columns_to_drop = [col for col in df_climate_ASOS_2024_Selected.columns if col.endswith('QC플래그')]
df_climate_ASOS_2024_Cleaned = df_climate_ASOS_2024_Selected.drop(columns=columns_to_drop)
df_climate_ASOS_2024_Cleaned

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
26352,98,동두천,2024-01-01 00:00,-1.5,NaN,0.0,0.0,96.0,5.3,-2.0,...,NaN,NaN,203.0,NaN,NaN,-0.2,NaN,NaN,NaN,NaN
26353,98,동두천,2024-01-01 01:00,-1.9,NaN,0.0,0.0,96.0,5.1,-2.4,...,NaN,NaN,275.0,NaN,NaN,-0.3,NaN,NaN,NaN,NaN
26354,98,동두천,2024-01-01 02:00,-2.1,NaN,NaN,NaN,96.0,5.0,-2.6,...,NaN,NaN,276.0,NaN,NaN,-0.3,NaN,NaN,NaN,NaN
26355,98,동두천,2024-01-01 03:00,-2.7,NaN,NaN,NaN,96.0,4.8,-3.2,...,NaN,NaN,120.0,NaN,NaN,-0.4,NaN,NaN,NaN,NaN
26356,98,동두천,2024-01-01 04:00,-2.3,NaN,NaN,NaN,96.0,5.0,-2.8,...,NaN,NaN,184.0,NaN,NaN,-0.3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439195,203,이천,2024-12-31 19:00,-0.1,NaN,1.3,200.0,51.0,3.1,-9.0,...,NaN,NaN,4811.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
439196,203,이천,2024-12-31 20:00,-1.6,NaN,0.3,0.0,56.0,3.0,-9.2,...,NaN,NaN,4820.0,NaN,NaN,-0.2,NaN,NaN,NaN,NaN
439197,203,이천,2024-12-31 21:00,-2.6,NaN,0.3,0.0,60.0,3.0,-9.3,...,NaN,NaN,4546.0,NaN,NaN,-0.4,NaN,NaN,NaN,NaN
439198,203,이천,2024-12-31 22:00,-2.2,NaN,1.1,250.0,59.0,3.1,-9.1,...,NaN,NaN,3224.0,NaN,NaN,-0.7,NaN,NaN,NaN,NaN
439199,203,이천,2024-12-31 23:00,-2.5,NaN,0.9,250.0,59.0,3.0,-9.4,...,NaN,NaN,4208.0,NaN,NaN,-1.1,NaN,NaN,NaN,NaN

In [19]:
# delete off 지점 in df_climate_ASOS_2024_Selected
columns_to_drop = ['지점']
df_climate_ASOS_2024_Cleaned = df_climate_ASOS_2024_Cleaned.drop(columns=columns_to_drop)
df_climate_ASOS_2024_Cleaned

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
26352,동두천,2024-01-01 00:00,-1.5,NaN,0.0,0.0,96.0,5.3,-2.0,1012.8,...,NaN,NaN,203.0,NaN,NaN,-0.2,NaN,NaN,NaN,NaN
26353,동두천,2024-01-01 01:00,-1.9,NaN,0.0,0.0,96.0,5.1,-2.4,1013.1,...,NaN,NaN,275.0,NaN,NaN,-0.3,NaN,NaN,NaN,NaN
26354,동두천,2024-01-01 02:00,-2.1,NaN,NaN,NaN,96.0,5.0,-2.6,1013.4,...,NaN,NaN,276.0,NaN,NaN,-0.3,NaN,NaN,NaN,NaN
26355,동두천,2024-01-01 03:00,-2.7,NaN,NaN,NaN,96.0,4.8,-3.2,1013.8,...,NaN,NaN,120.0,NaN,NaN,-0.4,NaN,NaN,NaN,NaN
26356,동두천,2024-01-01 04:00,-2.3,NaN,NaN,NaN,96.0,5.0,-2.8,1014.0,...,NaN,NaN,184.0,NaN,NaN,-0.3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439195,이천,2024-12-31 19:00,-0.1,NaN,1.3,200.0,51.0,3.1,-9.0,1013.5,...,NaN,NaN,4811.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
439196,이천,2024-12-31 20:00,-1.6,NaN,0.3,0.0,56.0,3.0,-9.2,1013.9,...,NaN,NaN,4820.0,NaN,NaN,-0.2,NaN,NaN,NaN,NaN
439197,이천,2024-12-31 21:00,-2.6,NaN,0.3,0.0,60.0,3.0,-9.3,1014.2,...,NaN,NaN,4546.0,NaN,NaN,-0.4,NaN,NaN,NaN,NaN
439198,이천,2024-12-31 22:00,-2.2,NaN,1.1,250.0,59.0,3.1,-9.1,1014.3,...,NaN,NaN,3224.0,NaN,NaN,-0.7,NaN,NaN,NaN,NaN
439199,이천,2024-12-31 23:00,-2.5,NaN,0.9,250.0,59.0,3.0,-9.4,1014.4,...,NaN,NaN,4208.0,NaN,NaN,-1.1,NaN,NaN,NaN,NaN

In [20]:
# finding nan values in df_climate_ASOS_2024_Cleaned
print("NaN values in df_climate_ASOS_2024_Cleaned:")
print(df_climate_ASOS_2024_Cleaned.isna().sum())

NaN values in df_climate_ASOS_2024_Cleaned:
지점명                   0
일시                    0
기온(°C)               73
강수량(mm)           94766
풍속(m/s)              83
풍향(16방위)             90
습도(%)               383
증기압(hPa)            400
이슬점온도(°C)           400
현지기압(hPa)            36
해면기압(hPa)            73
일조(hr)            47849
일사(MJ/m2)         68152
적설(cm)           102369
3시간신적설(cm)       105234
전운량(10분위)             6
중하층운량(10분위)         324
운형(운형약어)          79013
최저운고(100m )       48544
시정(10m)             271
지면상태(지면상태코드)     105408
현상번호(국내식)         93710
지면온도(°C)            434
5cm 지중온도(°C)      79343
10cm 지중온도(°C)     79343
20cm 지중온도(°C)     79343
30cm 지중온도(°C)     79060
dtype: int64

In [21]:
# Delete Columds with more than 10000 NaN values in df_climate_ASOS_2024_Cleaned
nan_threshold = 10000
columns_to_drop = df_climate_ASOS_2024_Cleaned.columns[df_climate_ASOS_2024_Cleaned.isna().sum() > nan_threshold]
df_climate_ASOS_2024_Cleaned = df_climate_ASOS_2024_Cleaned.drop(columns=columns_to_drop)
df_climate_ASOS_2024_Cleaned

,지점명,일시,기온(°C),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),전운량(10분위),중하층운량(10분위),시정(10m),지면온도(°C)
26352,동두천,2024-01-01 00:00,-1.5,0.0,0.0,96.0,5.3,-2.0,1012.8,1027.6,1.0,0.0,203.0,-0.2
26353,동두천,2024-01-01 01:00,-1.9,0.0,0.0,96.0,5.1,-2.4,1013.1,1027.9,0.0,0.0,275.0,-0.3
26354,동두천,2024-01-01 02:00,-2.1,NaN,NaN,96.0,5.0,-2.6,1013.4,1028.2,0.0,0.0,276.0,-0.3
26355,동두천,2024-01-01 03:00,-2.7,NaN,NaN,96.0,4.8,-3.2,1013.8,1028.7,0.0,0.0,120.0,-0.4
26356,동두천,2024-01-01 04:00,-2.3,NaN,NaN,96.0,5.0,-2.8,1014.0,1028.8,9.0,9.0,184.0,-0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439195,이천,2024-12-31 19:00,-0.1,1.3,200.0,51.0,3.1,-9.0,1013.5,1023.7,0.0,0.0,4811.0,0.0
439196,이천,2024-12-31 20:00,-1.6,0.3,0.0,56.0,3.0,-9.2,1013.9,1024.1,0.0,0.0,4820.0,-0.2
439197,이천,2024-12-31 21:00,-2.6,0.3,0.0,60.0,3.0,-9.3,1014.2,1024.5,0.0,0.0,4546.0,-0.4
439198,이천,2024-12-31 22:00,-2.2,1.1,250.0,59.0,3.1,-9.1,1014.3,1024.6,0.0,0.0,3224.0,-0.7
439199,이천,2024-12-31 23:00,-2.5,0.9,250.0,59.0,3.0,-9.4,1014.4,1024.7,0.0,0.0,4208.0,-1.1

In [22]:
# 지점명마다 다른 데이터셋 생성
station_names = df_climate_ASOS_2024_Cleaned['지점명'].unique()
for station in station_names:
    df_station = df_climate_ASOS_2024_Cleaned[df_climate_ASOS_2024_Cleaned['지점명'] == station]
    df_station.to_csv(f'../Dataset/Wind_Area/기후데이터_{station}_2024_Cleaned.csv', index=False, encoding='cp949')

In [23]:
# 지점명이 인천하고 제주인 데이터셋 생성
df_incheon = df_climate_ASOS_2024_Cleaned[df_climate_ASOS_2024_Cleaned['지점명'] == '인천']
df_jeju = df_climate_ASOS_2024_Cleaned[df_climate_ASOS_2024_Cleaned['지점명'] == '제주']

In [24]:
df_incheon

,지점명,일시,기온(°C),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),전운량(10분위),중하층운량(10분위),시정(10m),지면온도(°C)
105408,인천,2024-01-01 00:00,0.7,0.6,50.0,91.0,5.8,-0.6,1017.7,1026.5,0.0,0.0,717.0,0.0
105409,인천,2024-01-01 01:00,0.6,1.1,70.0,92.0,5.9,-0.5,1018.1,1026.9,0.0,0.0,606.0,-0.1
105410,인천,2024-01-01 02:00,0.3,1.8,360.0,93.0,5.8,-0.7,1018.5,1027.3,3.0,3.0,306.0,-0.1
105411,인천,2024-01-01 03:00,0.5,0.7,320.0,93.0,5.9,-0.5,1019.0,1027.8,8.0,8.0,479.0,-0.1
105412,인천,2024-01-01 04:00,0.4,1.5,70.0,94.0,5.9,-0.4,1019.2,1028.0,1.0,1.0,381.0,-0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114187,인천,2024-12-31 19:00,0.1,1.7,290.0,49.0,3.0,-9.3,1014.1,1022.9,0.0,0.0,4861.0,0.1
114188,인천,2024-12-31 20:00,-0.1,2.2,270.0,53.0,3.2,-8.5,1014.1,1022.9,0.0,0.0,4599.0,-0.2
114189,인천,2024-12-31 21:00,0.1,2.4,270.0,56.0,3.5,-7.6,1014.1,1022.9,0.0,0.0,4925.0,-0.4
114190,인천,2024-12-31 22:00,0.3,2.3,290.0,59.0,3.7,-6.7,1014.3,1023.0,0.0,0.0,4779.0,-0.5
114191,인천,2024-12-31 23:00,-0.3,1.0,340.0,62.0,3.7,-6.7,1014.6,1023.4,0.0,0.0,4810.0,-0.4

In [25]:
df_jeju

,지점명,일시,기온(°C),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),전운량(10분위),중하층운량(10분위),시정(10m),지면온도(°C)
368928,제주,2024-01-01 00:00,8.5,4.1,340.0,57.0,6.3,0.4,1023.0,1025.6,10.0,9.0,1797.0,6.9
368929,제주,2024-01-01 01:00,8.4,4.6,360.0,56.0,6.2,0.1,1023.0,1025.6,9.0,9.0,1765.0,6.7
368930,제주,2024-01-01 02:00,8.2,3.8,20.0,60.0,6.5,0.8,1023.6,1026.2,9.0,9.0,1506.0,6.7
368931,제주,2024-01-01 03:00,8.0,5.3,50.0,63.0,6.7,1.3,1023.7,1026.3,9.0,9.0,1283.0,6.7
368932,제주,2024-01-01 04:00,7.8,3.8,50.0,60.0,6.3,0.5,1023.9,1026.5,9.0,9.0,1443.0,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377707,제주,2024-12-31 19:00,6.3,2.9,320.0,56.0,5.4,-1.8,1020.3,1022.9,5.0,4.0,4835.0,6.0
377708,제주,2024-12-31 20:00,6.1,2.6,320.0,55.0,5.2,-2.2,1020.7,1023.3,0.0,0.0,4962.0,4.7
377709,제주,2024-12-31 21:00,5.8,2.3,340.0,58.0,5.4,-1.8,1020.8,1023.4,2.0,2.0,4910.0,4.0
377710,제주,2024-12-31 22:00,5.6,2.5,270.0,58.0,5.3,-2.0,1021.1,1023.7,1.0,1.0,4778.0,4.1
377711,제주,2024-12-31 23:00,5.9,2.1,320.0,57.0,5.3,-1.9,1021.3,1023.9,5.0,5.0,5000.0,5.1

## Modifying Renewable Energy Target

In [26]:
# df_Renewable_Generation_Target에서 인천시를 인천으로 변경
df_Renewable_Generation_Target['지역'] = df_Renewable_Generation_Target['지역'].replace({'인천시': '인천'})
df_Renewable_Generation_Target

/tmp/ipykernel_41206/4152963505.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Renewable_Generation_Target['지역'] = df_Renewable_Generation_Target['지역'].replace({'인천시': '인천'})

              거래일자  거래시간  지역  연료원  전력거래량(MWh)
264     2024-01-01     1  인천  태양광    0.000000
265     2024-01-01     2  인천  태양광    0.000000
266     2024-01-01     3  인천  태양광    0.000000
267     2024-01-01     4  인천  태양광    0.000000
268     2024-01-01     5  인천  태양광    0.000000
...            ...   ...  ..  ...         ...
166891  2024-12-31    20  제주   풍력   25.056292
166892  2024-12-31    21  제주   풍력   22.991162
166893  2024-12-31    22  제주   풍력   19.606452
166894  2024-12-31    23  제주   풍력   20.195377
166895  2024-12-31    24  제주   풍력   21.000802

[17568 rows x 5 columns]

In [27]:
# 지역이 인천인 자료만 추출하여 df_incheon_wind 생성
df_incheon_wind = df_Renewable_Generation_Target[df_Renewable_Generation_Target['지역'] == '인천']
df_incheon_wind

              거래일자  거래시간  지역  연료원  전력거래량(MWh)
264     2024-01-01     1  인천  태양광    0.000000
265     2024-01-01     2  인천  태양광    0.000000
266     2024-01-01     3  인천  태양광    0.000000
267     2024-01-01     4  인천  태양광    0.000000
268     2024-01-01     5  인천  태양광    0.000000
...            ...   ...  ..  ...         ...
149203  2024-12-31    20  인천  태양광    2.215681
149204  2024-12-31    21  인천  태양광    1.068835
149205  2024-12-31    22  인천  태양광    0.288480
149206  2024-12-31    23  인천  태양광    0.000080
149207  2024-12-31    24  인천  태양광    0.000000

[8784 rows x 5 columns]

In [28]:
# 나머지 자료가 있는 데이터셋을 df_jeju_wind로 생성
df_jeju_wind = df_Renewable_Generation_Target[df_Renewable_Generation_Target['지역'] == '제주']
df_jeju_wind

              거래일자  거래시간  지역 연료원  전력거래량(MWh)
158112  2024-01-01     1  제주  풍력  102.723963
158113  2024-01-01     2  제주  풍력   59.033775
158114  2024-01-01     3  제주  풍력   46.984048
158115  2024-01-01     4  제주  풍력   29.477786
158116  2024-01-01     5  제주  풍력   21.764521
...            ...   ...  ..  ..         ...
166891  2024-12-31    20  제주  풍력   25.056292
166892  2024-12-31    21  제주  풍력   22.991162
166893  2024-12-31    22  제주  풍력   19.606452
166894  2024-12-31    23  제주  풍력   20.195377
166895  2024-12-31    24  제주  풍력   21.000802

[8784 rows x 5 columns]

In [29]:
# 거래일자 (YYYY-MM-DD), 거래시간 (HH, 1-24 범위)을 합쳐서 datetime 형식으로 변환하는 함수 정의
def combine_date_time(row):
    date_str = str(row['거래일자'])
    hour = int(row['거래시간'])
    
    # 24시는 다음날 00시로 처리
    if hour == 24:
        date_obj = pd.to_datetime(date_str, format='%Y-%m-%d') + pd.Timedelta(days=1)
        return date_obj.replace(hour=0)
    else:
        time_str = str(hour).zfill(2)
        datetime_str = f"{date_str} {time_str}:00:00"
        return pd.to_datetime(datetime_str, format='%Y-%m-%d %H:%M:%S')

In [30]:
# 두 데이터셋에다가 적용 및 새로운 일자 생성, 그리고 거일자, 거래시간 제거후 일자를 앞에다가 두기
df_incheon_wind['일자'] = df_incheon_wind.apply(combine_date_time, axis=1)
df_incheon_wind = df_incheon_wind.drop(columns=['거래일자', '거래시간'])
df_incheon_wind = df_incheon_wind[['일자'] + [col for col in df_incheon_wind.columns if col != '일자']]

df_jeju_wind['일자'] = df_jeju_wind.apply(combine_date_time, axis=1)
df_jeju_wind = df_jeju_wind.drop(columns=['거래일자', '거래시간'])
df_jeju_wind = df_jeju_wind[['일자'] + [col for col in df_jeju_wind.columns if col != '일자']]

/tmp/ipykernel_41206/1284439850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_incheon_wind['일자'] = df_incheon_wind.apply(combine_date_time, axis=1)
/tmp/ipykernel_41206/1284439850.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_jeju_wind['일자'] = df_jeju_wind.apply(combine_date_time, axis=1)

In [31]:
df_incheon_wind

                        일자  지역  연료원  전력거래량(MWh)
264    2024-01-01 01:00:00  인천  태양광    0.000000
265    2024-01-01 02:00:00  인천  태양광    0.000000
266    2024-01-01 03:00:00  인천  태양광    0.000000
267    2024-01-01 04:00:00  인천  태양광    0.000000
268    2024-01-01 05:00:00  인천  태양광    0.000000
...                    ...  ..  ...         ...
149203 2024-12-31 20:00:00  인천  태양광    2.215681
149204 2024-12-31 21:00:00  인천  태양광    1.068835
149205 2024-12-31 22:00:00  인천  태양광    0.288480
149206 2024-12-31 23:00:00  인천  태양광    0.000080
149207 2025-01-01 00:00:00  인천  태양광    0.000000

[8784 rows x 4 columns]

### Final Changes on Climate Datatime

In [32]:
df_incheon

,지점명,일시,기온(°C),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),전운량(10분위),중하층운량(10분위),시정(10m),지면온도(°C)
105408,인천,2024-01-01 00:00,0.7,0.6,50.0,91.0,5.8,-0.6,1017.7,1026.5,0.0,0.0,717.0,0.0
105409,인천,2024-01-01 01:00,0.6,1.1,70.0,92.0,5.9,-0.5,1018.1,1026.9,0.0,0.0,606.0,-0.1
105410,인천,2024-01-01 02:00,0.3,1.8,360.0,93.0,5.8,-0.7,1018.5,1027.3,3.0,3.0,306.0,-0.1
105411,인천,2024-01-01 03:00,0.5,0.7,320.0,93.0,5.9,-0.5,1019.0,1027.8,8.0,8.0,479.0,-0.1
105412,인천,2024-01-01 04:00,0.4,1.5,70.0,94.0,5.9,-0.4,1019.2,1028.0,1.0,1.0,381.0,-0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114187,인천,2024-12-31 19:00,0.1,1.7,290.0,49.0,3.0,-9.3,1014.1,1022.9,0.0,0.0,4861.0,0.1
114188,인천,2024-12-31 20:00,-0.1,2.2,270.0,53.0,3.2,-8.5,1014.1,1022.9,0.0,0.0,4599.0,-0.2
114189,인천,2024-12-31 21:00,0.1,2.4,270.0,56.0,3.5,-7.6,1014.1,1022.9,0.0,0.0,4925.0,-0.4
114190,인천,2024-12-31 22:00,0.3,2.3,290.0,59.0,3.7,-6.7,1014.3,1023.0,0.0,0.0,4779.0,-0.5
114191,인천,2024-12-31 23:00,-0.3,1.0,340.0,62.0,3.7,-6.7,1014.6,1023.4,0.0,0.0,4810.0,-0.4

In [33]:
df_incheon_wind

                        일자  지역  연료원  전력거래량(MWh)
264    2024-01-01 01:00:00  인천  태양광    0.000000
265    2024-01-01 02:00:00  인천  태양광    0.000000
266    2024-01-01 03:00:00  인천  태양광    0.000000
267    2024-01-01 04:00:00  인천  태양광    0.000000
268    2024-01-01 05:00:00  인천  태양광    0.000000
...                    ...  ..  ...         ...
149203 2024-12-31 20:00:00  인천  태양광    2.215681
149204 2024-12-31 21:00:00  인천  태양광    1.068835
149205 2024-12-31 22:00:00  인천  태양광    0.288480
149206 2024-12-31 23:00:00  인천  태양광    0.000080
149207 2025-01-01 00:00:00  인천  태양광    0.000000

[8784 rows x 4 columns]

### Combiner

In [34]:
df_incheon = df_incheon.rename(columns={'일시': '일자'})

In [35]:
# datetime 타입 통일
df_incheon['일자'] = pd.to_datetime(df_incheon['일자'])
df_incheon_wind['일자'] = pd.to_datetime(df_incheon_wind['일자'])

# 필요 시 태양광만 필터링
df_incheon_wind_solar = df_incheon_wind[
    df_incheon_wind['연료원'] == '태양광'
]

# 병합
df_merged_incheon = df_incheon.merge(
    df_incheon_wind_solar[['일자', '전력거래량(MWh)']],
    on='일자',
    how='left'
)

In [36]:
df_merged_incheon

,지점명,일자,기온(°C),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),전운량(10분위),중하층운량(10분위),시정(10m),지면온도(°C),전력거래량(MWh)
0,인천,2024-01-01 00:00:00,0.7,0.6,50.0,91.0,5.8,-0.6,1017.7,1026.5,0.0,0.0,717.0,0.0,NaN
1,인천,2024-01-01 01:00:00,0.6,1.1,70.0,92.0,5.9,-0.5,1018.1,1026.9,0.0,0.0,606.0,-0.1,0.000000
2,인천,2024-01-01 02:00:00,0.3,1.8,360.0,93.0,5.8,-0.7,1018.5,1027.3,3.0,3.0,306.0,-0.1,0.000000
3,인천,2024-01-01 03:00:00,0.5,0.7,320.0,93.0,5.9,-0.5,1019.0,1027.8,8.0,8.0,479.0,-0.1,0.000000
4,인천,2024-01-01 04:00:00,0.4,1.5,70.0,94.0,5.9,-0.4,1019.2,1028.0,1.0,1.0,381.0,-0.2,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,인천,2024-12-31 19:00:00,0.1,1.7,290.0,49.0,3.0,-9.3,1014.1,1022.9,0.0,0.0,4861.0,0.1,5.273218
8780,인천,2024-12-31 20:00:00,-0.1,2.2,270.0,53.0,3.2,-8.5,1014.1,1022.9,0.0,0.0,4599.0,-0.2,2.215681
8781,인천,2024-12-31 21:00:00,0.1,2.4,270.0,56.0,3.5,-7.6,1014.1,1022.9,0.0,0.0,4925.0,-0.4,1.068835
8782,인천,2024-12-31 22:00:00,0.3,2.3,290.0,59.0,3.7,-6.7,1014.3,1023.0,0.0,0.0,4779.0,-0.5,0.288480
8783,인천,2024-12-31 23:00:00,-0.3,1.0,340.0,62.0,3.7,-6.7,1014.6,1023.4,0.0,0.0,4810.0,-0.4,0.000080

In [37]:
# deleting 지점명 in df_merged_incheon
df_merged_incheon = df_merged_incheon.drop(columns=['지점명'])

In [38]:
# removing data if there is NaN
df_merged_incheon = df_merged_incheon.dropna()

In [ ]:
df_merged_incheon

### Feature Importance VS 전력 거래량

In [39]:
# Feature Importance calculation using RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
# Prepare data
X = df_merged_incheon.drop(columns=['일자', '전력거래량(MWh)'])
y = df_merged_incheon['전력거래량(MWh)']

# --- IGNORE ---
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# --- IGNORE ---
# Train model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
# --- IGNORE ---
# Evaluate model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
# --- IGNORE ---
# Get feature importances
importances = model.feature_importances_
feature_names = X.columns
feature_importances = pd.Series(importances, index=feature_names).sort_values(ascending=False)
print("Feature Importances:")
print(feature_importances)

Mean Squared Error: 14.748662486832432
Feature Importances:
지면온도(°C)       0.533376
습도(%)          0.152222
이슬점온도(°C)      0.062905
기온(°C)         0.057616
증기압(hPa)       0.049336
풍향(16방위)       0.029120
시정(10m)        0.024340
풍속(m/s)        0.024236
현지기압(hPa)      0.020141
전운량(10분위)      0.019970
해면기압(hPa)      0.019056
중하층운량(10분위)    0.007682
dtype: float64