# Full Dataset Showing via Data Wrangler

### Choi Chan Woo (인하대학교 에너지자원환경연구실, Py_Renewable Team)

This Python Code made in 12/15 is for viewing full Dataset used for this project (Since CSV Limitations on Libreoffice and Excel)

In [2]:
import pandas as pd

## Loading Dataset

In [3]:
df_Renewable_Generation = pd.read_csv('../Dataset/한국전력거래소_지역별 시간별 태양광 및 풍력 발전량_2024.csv', encoding='cp949')

In [4]:
df_climate_ASOS_2024_Full = pd.read_csv('../Dataset/OBS_ASOS_TIM_20251215090557.csv', encoding='cp949', low_memory=False)

## Full Dataset View by Data Wrangler

In [5]:
df_Renewable_Generation.head()

         거래일자  거래시간   지역  연료원  전력거래량(MWh)
0  2024-01-01     1  강원도  태양광         0.0
1  2024-01-01     2  강원도  태양광         0.0
2  2024-01-01     3  강원도  태양광         0.0
3  2024-01-01     4  강원도  태양광         0.0
4  2024-01-01     5  강원도  태양광         0.0

In [6]:
df_climate_ASOS_2024_Full.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,90,속초,2024-01-01 00:00,1.5,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,1396.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN
1,90,속초,2024-01-01 01:00,1.2,NaN,NaN,9.0,1.2,NaN,290.0,...,6.0,939.0,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN
2,90,속초,2024-01-01 02:00,0.9,NaN,NaN,9.0,0.8,NaN,270.0,...,8.0,789.0,NaN,NaN,0.1,NaN,NaN,NaN,NaN,NaN
3,90,속초,2024-01-01 03:00,1.1,NaN,0.4,NaN,1.3,NaN,290.0,...,8.0,1005.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN
4,90,속초,2024-01-01 04:00,1.2,NaN,NaN,9.0,1.4,NaN,290.0,...,9.0,1151.0,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN

## Dataset Properties

In [7]:
# Showing Dataset properties
print("df_Renewable_Generation Info:")
df_Renewable_Generation.info()

df_Renewable_Generation Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166896 entries, 0 to 166895
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   거래일자        166896 non-null  object
 1   거래시간        166896 non-null  int64
 2   지역          166896 non-null  object
 3   연료원         166896 non-null  object
 4   전력거래량(MWh)  166896 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 6.4+ MB

In [8]:
print("df_climate_ASOS_2024_Full Info:")
df_climate_ASOS_2024_Full.info()

df_climate_ASOS_2024_Full Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852048 entries, 0 to 852047
Data columns (total 38 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   지점             852048 non-null  int64
 1   지점명            852048 non-null  object
 2   일시             852048 non-null  object
 3   기온(°C)         851103 non-null  float64
 4   기온 QC플래그       986 non-null     float64
 5   강수량(mm)        80511 non-null   float64
 6   강수량 QC플래그      162179 non-null  float64
 7   풍속(m/s)        849686 non-null  float64
 8   풍속 QC플래그       1340 non-null    float64
 9   풍향(16방위)       849677 non-null  float64
 10  풍향 QC플래그       1352 non-null    float64
 11  습도(%)          850818 non-null  float64
 12  습도 QC플래그       1275 non-null    float64
 13  증기압(hPa)       850635 non-null  float64
 14  이슬점온도(°C)      850632 non-null  float64
 15  현지기압(hPa)      851102 non-null  float64
 16  현지기압 QC플래그     996 non-null     float64
 17  해면기압(hPa)      850869 non-null  float64
 18  해면기압 QC플래그     1221 non-null    float64
 19  일조(hr)         462433 non-null  float64
 20  일조 QC플래그       388599 non-null  float64
 21  일사(MJ/m2)      282397 non-null  float64
 22  일사 QC플래그       568643 non-null  float64
 23  적설(cm)         20090 non-null   float64
 24  3시간신적설(cm)     705 non-null     float64
 25  전운량(10분위)      851236 non-null  float64
 26  중하층운량(10분위)    840106 non-null  float64
 27  운형(운형약어)       119707 non-null  object
 28  최저운고(100m )    427603 non-null  float64
 29  시정(10m)        843072 non-null  float64
 30  지면상태(지면상태코드)   0 non-null       float64
 31  현상번호(국내식)      50297 non-null   float64
 32  지면온도(°C)       849093 non-null  float64
 33  지면온도 QC플래그     7378 non-null    float64
 34  5cm 지중온도(°C)   253333 non-null  float64
 35  10cm 지중온도(°C)  253609 non-null  float64
 36  20cm 지중온도(°C)  253100 non-null  float64
 37  30cm 지중온도(°C)  253795 non-null  float64
dtypes: float64(34), int64(1), object(3)
memory usage: 247.0+ MB

## Showing Feature names

In [9]:
df_climate_ASOS_2024_Full.columns.tolist()

['지점',
 '지점명',
 '일시',
 '기온(°C)',
 '기온 QC플래그',
 '강수량(mm)',
 '강수량 QC플래그',
 '풍속(m/s)',
 '풍속 QC플래그',
 '풍향(16방위)',
 '풍향 QC플래그',
 '습도(%)',
 '습도 QC플래그',
 '증기압(hPa)',
 '이슬점온도(°C)',
 '현지기압(hPa)',
 '현지기압 QC플래그',
 '해면기압(hPa)',
 '해면기압 QC플래그',
 '일조(hr)',
 '일조 QC플래그',
 '일사(MJ/m2)',
 '일사 QC플래그',
 '적설(cm)',
 '3시간신적설(cm)',
 '전운량(10분위)',
 '중하층운량(10분위)',
 '운형(운형약어)',
 '최저운고(100m )',
 '시정(10m)',
 '지면상태(지면상태코드)',
 '현상번호(국내식)',
 '지면온도(°C)',
 '지면온도 QC플래그',
 '5cm 지중온도(°C)',
 '10cm 지중온도(°C)',
 '20cm 지중온도(°C)',
 '30cm 지중온도(°C)']

In [10]:
df_Renewable_Generation.columns.tolist()

['거래일자', '거래시간', '지역', '연료원', '전력거래량(MWh)']

## NaN Value Checking

In [11]:
# NaN 값 확인
print("NaN values in df_Renewable_Generation:")
print(df_Renewable_Generation.isna().sum())

NaN values in df_Renewable_Generation:
거래일자          0
거래시간          0
지역            0
연료원           0
전력거래량(MWh)    0
dtype: int64

In [12]:
print("NaN values in df_climate_ASOS_2024_Full:")
print(df_climate_ASOS_2024_Full.isna().sum())

NaN values in df_climate_ASOS_2024_Full:
지점                    0
지점명                   0
일시                    0
기온(°C)              945
기온 QC플래그         851062
강수량(mm)          771537
강수량 QC플래그        689869
풍속(m/s)            2362
풍속 QC플래그         850708
풍향(16방위)           2371
풍향 QC플래그         850696
습도(%)              1230
습도 QC플래그         850773
증기압(hPa)           1413
이슬점온도(°C)          1416
현지기압(hPa)           946
현지기압 QC플래그       851052
해면기압(hPa)          1179
해면기압 QC플래그       850827
일조(hr)           389615
일조 QC플래그         463449
일사(MJ/m2)        569651
일사 QC플래그         283405
적설(cm)           831958
3시간신적설(cm)       851343
전운량(10분위)           812
중하층운량(10분위)       11942
운형(운형약어)         732341
최저운고(100m )      424445
시정(10m)            8976
지면상태(지면상태코드)     852048
현상번호(국내식)        801751
지면온도(°C)           2955
지면온도 QC플래그       844670
5cm 지중온도(°C)     598715
10cm 지중온도(°C)    598439
20cm 지중온도(°C)    598948
30cm 지중온도(°C)    598253
dtype: int64

In [13]:
# 지점 출력 및 지점-지점명 매핑
unique_stations = df_climate_ASOS_2024_Full['지점'].unique()
print("Unique Stations in df_climate_ASOS_2024_Full:")
for station in unique_stations:
    station_name = df_climate_ASOS_2024_Full[df_climate_ASOS_2024_Full['지점'] == station]['지점명'].iloc[0]
    print(f"Station Code: {station}, Station Name: {station_name}")

Unique Stations in df_climate_ASOS_2024_Full:
Station Code: 90, Station Name: 속초
Station Code: 93, Station Name: 북춘천
Station Code: 95, Station Name: 철원
Station Code: 98, Station Name: 동두천
Station Code: 99, Station Name: 파주
Station Code: 100, Station Name: 대관령
Station Code: 101, Station Name: 춘천
Station Code: 102, Station Name: 백령도
Station Code: 104, Station Name: 북강릉
Station Code: 105, Station Name: 강릉
Station Code: 106, Station Name: 동해
Station Code: 108, Station Name: 서울
Station Code: 112, Station Name: 인천
Station Code: 114, Station Name: 원주
Station Code: 115, Station Name: 울릉도
Station Code: 119, Station Name: 수원
Station Code: 121, Station Name: 영월
Station Code: 127, Station Name: 충주
Station Code: 129, Station Name: 서산
Station Code: 130, Station Name: 울진
Station Code: 131, Station Name: 청주
Station Code: 133, Station Name: 대전
Station Code: 135, Station Name: 추풍령
Station Code: 136, Station Name: 안동
Station Code: 137, Station Name: 상주
Station Code: 138, Station Name: 포항
Station Code: 140, Station Name: 군산
Station Code: 143, Station Name: 대구
Station Code: 146, Station Name: 전주
Station Code: 152, Station Name: 울산
Station Code: 155, Station Name: 창원
Station Code: 156, Station Name: 광주
Station Code: 159, Station Name: 부산
Station Code: 162, Station Name: 통영
Station Code: 165, Station Name: 목포
Station Code: 168, Station Name: 여수
Station Code: 169, Station Name: 흑산도
Station Code: 170, Station Name: 완도
Station Code: 172, Station Name: 고창
Station Code: 174, Station Name: 순천
Station Code: 177, Station Name: 홍성
Station Code: 181, Station Name: 서청주
Station Code: 184, Station Name: 제주
Station Code: 185, Station Name: 고산
Station Code: 188, Station Name: 성산
Station Code: 189, Station Name: 서귀포
Station Code: 192, Station Name: 진주
Station Code: 201, Station Name: 강화
Station Code: 202, Station Name: 양평
Station Code: 203, Station Name: 이천
Station Code: 211, Station Name: 인제
Station Code: 212, Station Name: 홍천
Station Code: 216, Station Name: 태백
Station Code: 217, Station Name: 정선군
Station Code: 221, Station Name: 제천
Station Code: 226, Station Name: 보은
Station Code: 232, Station Name: 천안
Station Code: 235, Station Name: 보령
Station Code: 236, Station Name: 부여
Station Code: 238, Station Name: 금산
Station Code: 239, Station Name: 세종
Station Code: 243, Station Name: 부안
Station Code: 244, Station Name: 임실
Station Code: 245, Station Name: 정읍
Station Code: 247, Station Name: 남원
Station Code: 248, Station Name: 장수
Station Code: 251, Station Name: 고창군
Station Code: 252, Station Name: 영광군
Station Code: 253, Station Name: 김해시
Station Code: 254, Station Name: 순창군
Station Code: 255, Station Name: 북창원
Station Code: 257, Station Name: 양산시
Station Code: 258, Station Name: 보성군
Station Code: 259, Station Name: 강진군
Station Code: 260, Station Name: 장흥
Station Code: 261, Station Name: 해남
Station Code: 262, Station Name: 고흥
Station Code: 263, Station Name: 의령군
Station Code: 264, Station Name: 함양군
Station Code: 266, Station Name: 광양시
Station Code: 268, Station Name: 진도군
Station Code: 271, Station Name: 봉화
Station Code: 272, Station Name: 영주
Station Code: 273, Station Name: 문경
Station Code: 276, Station Name: 청송군
Station Code: 277, Station Name: 영덕
Station Code: 278, Station Name: 의성
Station Code: 279, Station Name: 구미
Station Code: 281, Station Name: 영천
Station Code: 283, Station Name: 경주시
Station Code: 284, Station Name: 거창
Station Code: 285, Station Name: 합천
Station Code: 288, Station Name: 밀양
Station Code: 289, Station Name: 산청
Station Code: 294, Station Name: 거제
Station Code: 295, Station Name: 남해
Station Code: 296, Station Name: 북부산

In [14]:
# 신재생 에너지 발전량 지역 출력
unique_regions = df_Renewable_Generation['지역'].unique()
print("Unique Regions in df_Renewable_Generation:")
for region in unique_regions:
    print(f"Region: {region}")

Unique Regions in df_Renewable_Generation:
Region: 강원도
Region: 경기도
Region: 경상남도
Region: 경상북도
Region: 광주시
Region: 대구시
Region: 대전시
Region: 부산시
Region: 서울시
Region: 세종시
Region: 울산시
Region: 인천시
Region: 전라남도
Region: 전라북도
Region: 제주도
Region: 충청남도
Region: 충청북도
Region: 육지
Region: 제주

In [15]:
# 신재생 에너지 발전량 에서 특정 지역만 추출 (인천시, 제주)
df_Renewable_Generation_Target = df_Renewable_Generation[df_Renewable_Generation['지역'].isin(['인천시', '제주'])]
df_Renewable_Generation_Target.head()

           거래일자  거래시간   지역  연료원  전력거래량(MWh)
264  2024-01-01     1  인천시  태양광         0.0
265  2024-01-01     2  인천시  태양광         0.0
266  2024-01-01     3  인천시  태양광         0.0
267  2024-01-01     4  인천시  태양광         0.0
268  2024-01-01     5  인천시  태양광         0.0